---

import primerFondo from "../../../public/Tesla/primerfondo.avif";
---

<section
  class="landing-section h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-20 relative h-full flex flex-col">
    <header class="flex flex-col">
      <h2 class="text-black pt-40 text-[40px] font-medium">Modelo 3</h2>
      <p class="text-black text-sm">Agenda hoy una prueba de manejo</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-32">
      <div class="flex space-x-6 mx-auto">
        <a
          class="border-[3px] border-white bg-white text-sm rounded font-medium text-black px-12 py-2 inline-block transition-colors duration-300 hover:border-gray-800 hover:bg-gray-200 w-72"
          href="#"
        >
          Ordenar
        </a>
        <a
          class="border-[3px] border-gray-900 bg-gray-900 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors duration-300 hover:border-gray-800 hover:bg-gray-800 w-72"
          href="#"
        >
          Mas informacion
        </a>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full">
    <img src={primerFondo.src} class="object-center object-cover h-full w-full" alt="modely"/>
  </div>
</section>
