---
import LandingSpacex from "../components/SpaceX/LandingSpacex.astro";
import HeroSection from "../components/SpaceX/HeroSection.astro";
import Eva from "./SpaceX/Eva.astro";
import NROL from "./SpaceX/NROL.astro";
import Starlink from "./SpaceX/Starlink.astro";
import Starship from "./SpaceX/Starship.astro";
---

<LandingSpacex />
<main
  id="spacex-main"
  class="relative w-full h-screen overflow-x-hidden"
>
  <HeroSection />
  <NROL />
  <Starlink />
  <Eva />
  <Starship />
</main>
